<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>대한고교 학사관리</title>
<link rel="stylesheet" href="/css/main.css" />
<script src="/js/nav.js"></script>
