<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나의 홈페이지</title>
  </head>
  <body>
    <h1>안녕하세요</h1>
    <h2>
      <span><%= num1 %></span> + <span><%= num2 %></span> =
      <span><%= sum %></span>
    </h2>
  </body>
</html>
