<form method="POST" class="st_input">
  <fieldset>
    <legend>학생정보</legend>
    <div>
      <label for="st_num">학번</label>
      <input name="st_num" id="st_num" />
    </div>
    <div>
      <label for="st_name">이름</label><input name="st_name" id="st_name" />
    </div>
    <div>
      <label for="st_dept">학과</label><input name="st_dept" id="st_dept" />
    </div>
    <div>
      <label for="st_grade">학년</label
      ><input type="number" name="st_grade" id="st_grade" />
    </div>
    <div>
      <label for="st_tel">전화번호</label>
      <input type="phone" name="st_tel" id="st_tel" />
    </div>
    <div>
      <label for="st_addr">주소</label><input name="st_addr" id="st_addr" />
    </div>
    <div>
      <label></label>
      <button type="button" class="btn submit">저장</button>
    </div>
  </fieldset>
  <script>
    const st_num = `<%- student.st_num %>`;
    if (st_num) {
      const numInput = document.querySelector("input[name='st_num']");
      numInput.setAttribute("readonly", "readonly");
      // numInput.value = st_num;
    }
    const student = JSON.parse(`<%- JSON.stringify(student) %>`);
    const stInput = document.querySelectorAll("input");
    const stItems = Object.keys(student);
    for (let i = 0; i < stItems.length; i++) {
      stInput[i].value = student[`${stInput[i].name}`];
    }
  </script>
</form>
