table.today {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
  padding: 12px 16px;
  white-space: nowrap;
}

td {
  cursor: pointer;
}

table.today input {
  width: 90%;
  padding: 3px;
}

button.today {
  background-color: blue;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 5px;
}
button.today.reset {
  background-color: orange;
  color: black;
}

button.today:hover {
  background-color: #bbb;
  color: black;
}
