<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include ("includes/head.ejs") %>
  </head>
  <body>
    <%- include ("includes/header.ejs") %>
    <section class="main">
      <article><%- include("student/student.ejs") %></article>
      <article></article>
      <article></article>
    </section>
    <%- include ("includes/footer.ejs") %>
  </body>
</html>
