nav.main {
  background-color: rgb(69, 76, 222);
  color: white;
}

nav.main ul {
  list-style: none;
  display: flex;
}

nav.main li.login {
  margin-left: auto;
}

nav.main a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 16px 18px 5px 18px;
  margin: 12px;
  border-bottom: 3px solid transparent;
  transition: 0.7s;
}

nav.main a:hover {
  border-bottom: 3px solid yellowgreen;
}
