form(method="POST")
    div
        label(for="s_date") 작성일자
        input(type="text" name="s_date")#s_date
    div
        label(for="s_time") 작성시각 
        input(type="text" name="s_time")#s_time
    div
        label(for="t_content") 내용 
        input(type="text" name="t_content")#t_content
    div 
        button 저장