* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 2em;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  background-image: url("/images/header_img.jpg");
  background-size: 100% 200%;
  background-attachment: fixed;
}

nav {
  background-color: blue;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  padding: 5px 10px 5px 10px;
  /* top right botton left */
  margin: 8px 0px 8px 12px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  white-space: nowrap;
  transition: 0.5s;
}
nav li:hover {
  border-left: 3px solid #ccc;
  border-right: 3px solid #ccc;
  background-color: rgba(111, 81, 230, 0.6);
}

nav li:nth-of-type(5) {
  margin-left: auto;
  margin-right: 10px;
}

footer {
  background-color: #bbb;
  font-size: 8px;
  text-align: center;
  padding: 1em;
}

section.main {
  flex: 1;
  overflow: auto;
  display: flex;
}

section.main article {
  flex: 1;
  margin: 5px;
  padding: 5px;
  border: 1px solid #bbb;
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 95%;
}

table.student td,
table.student th {
  text-align: left;
  padding: 5px 8px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  /*
  table 의 칼럼에 표현되는 TextContent의 길이가 길어서
  넘칠경우 말줄임표(...)을 보이도록 하는 설정
  */
  white-space: nowrap;
  text-overflow: ellipsis;
  table-layout: fixed;
}

input {
  margin: 5px;
  padding: 8px;
  border: 1px solid #bbb;
  outline: none;
  border-radius: 5px;
}
input:focus {
  background-color: #ddd;
}
input:hover {
  background-color: #eee;
}
