extends ../layout

block content
    .w3-container.w3-padding-24
        section.w3-container
            .w3-card-4
                header.w3-container.w3-center.w3-sand.w3-padding-16
                    input.w3-input.w3-border.w3-round-large
                article.w3-container.w3-padding-16
                    p ipsum dolor sit amet consectetur adipisicing elit. Laudantium non beatae et nostrum consequatur dolorum quod harum vel earum vero maiores eaque ex, quia unde optio dolore esse eligendi corrupti?
                footer.w3-container.w3-center.w3-sand.w3-padding-16
                    address copyRightn &copy; callor@callor.com