extends ../layout

block content 
    link(rel="stylesheet", href="/css/users/login.css")
    script(src="/js/users/login.js")
    article.user.login.container
        h1.user.login.title 로 그 인
        if error
            - const msg = error === "USERNAME" ? "사용자 없음" : "비번오류"
            h2.user.login.error= msg
        form.user.login(method="POST")
            input(name="username",placeholder="USERNAME",title="사용자 ID")
            input(name="password",type="password",placeholder="PASSWORD",title="비밀번호")
            button(type="button").user.login 로그인
        div.login.url
            a(href="/users/join") 회원가입
            span &nbsp;|&nbsp;
            a(href="/users/loss/username") 아이디
            span &nbsp;|&nbsp;
            a(href="/users/loss/password") 비밀번호 찾기

            