form.buyer.write {
  width: 80%;
  margin: 10px auto;
}

form.buyer.write fieldset {
  border-radius: 10px;
  background-color: #eee;
}

form.buyer.write div {
  width: 90%;
}

form.buyer.write legend {
  margin: 50px;
  padding: 10px;
  color: blue;
  font-weight: 900;
}

form.buyer.write div {
  width: 90%;
  margin: 5px auto;
  display: flex;
}

form.buyer.write label,
form.buyer.write input {
  padding: 8px;
  margin: 3px;
}

form.buyer.write label {
  flex: 1;
  text-align: right;
  color: rgb(52, 152, 219);
  font-weight: bold;
}

form.buyer.write input {
  flex: 3;
  border-radius: 5px;
  border: 1px solid #ddd;
}

div.button.box {
  justify-content: right;
}

div.button.box button {
  margin: 12px 3px 12px 10px;
  padding: 12px 16px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button.buyer.input {
  background-color: rgb(95, 95, 218);
  color: white;
}

button.buyer.list {
  background-color: orange;
}

button.buyer.reset {
  background-color: greenyellow;
}
