nav.w3-black.main
    ul
        li.home Home
        li.books 도서정보
        li.mybook 내 도서
        if !user
            li.login 로그인
            li.join 회원가입
        else
            li.logout 로그아웃
            li.mypage 내 페이지 (#{user.username})
