extends ../layout 

block content 
    article.detail.container
        article.detail
            div CODE #[div] B0001
            div 이름 #[div] 대한상사
            div 전화번호 #[div] 062-555-111
            div 담당자명 #[div] 김담당
        article.detail.addr
            div 주소
            div 광주광역시