section.book {
  width: 80%;
  margin: 10px auto;
}

section.book.detail div {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
}

/* input box readOnly 속성 true 이면 */
section.book.detail input:read-only {
  color: #777;
  border: 0;
  outline: 0;
}
