<form method="POST" class="st_input">
  <fieldset>
    <legend>학생정보</legend>
    <div>
      <label for="st_num">학번</label><input name="st_num" id="st_num" />
    </div>
    <div>
      <label for="st_name">이름</label><input name="st_name" id="st_name" />
    </div>
    <div>
      <label for="st_dept">학과</label><input name="st_dept" id="st_dept" />
    </div>
    <div>
      <label for="st_grade">학년</label
      ><input type="number" name="st_grade" id="st_grade" />
    </div>
    <div>
      <label for="st_tel">전화번호</label>
      <input type="phone" name="st_tel" id="st_tel" />
    </div>
    <div>
      <label for="st_addr">주소</label><input name="st_addr" id="st_addr" />
    </div>
    <div>
      <label></label>
      <button type="button" class="btn submit">저장</button>
    </div>
  </fieldset>
</form>
