.App {
  text-align: center;
  width: 50%;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.App header {
  background-color: #36e6cc;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}
