extends ../layout 

block content
    form(method="POST",enctype="multipart/form-data") 
        div
            label(for="b_writer") 작성자
            input(type="text",name="b_writer")#b_writer
        div
            label(for="b_subject") 제목
            input(type="text",name="b_subject")#b_subject
        div
            label(for="b_content") 내용
            input(type="text",name="b_content")#b_content
        div
            label(for="b_upfile") 파일
            input(type="file",name="b_upfile",multiple,accept="image/*")#b_upfile
        div
            label(for="") 
            input(type="submit",value="저장")
